@mixin fillPage {
    height: 100%;
    padding: 0;
    margin: 0;
}

@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body, .wrapper {
    @include fillPage();
}

.wrapper {
    @include centerDiv();

    #quote-box {
        height: 400px;
        width: 800px;
        background-color: cadetblue;


        #quote-info {
            height: 50%;
            background-color: chartreuse;
        }
    }
}

