@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin fillPage {
    height: 100%;
    padding: 0;
    margin: 0;
}

@mixin centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonStyle {
    height: 50px;
    width: max-content;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

@mixin textStyle($fontsize) {
    text-align: center;
    padding: 10px;
    font-size: $fontsize;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    cursor: default;
}

@mixin gridContainer {
    display: grid;
    height: fit-content;
    grid-template: 1fr 20% / 1fr 1fr;
    padding: 10px;
}

@mixin gridChild($bg, $align:"", $justify:"") {
    background-color: $bg;
    display: flex;
    align-items: unquote($align);
    justify-content: unquote($justify);
}


@mixin child-x {
    @for $i from 1 through 3 {
        @if $i == 1 {
            .child-#{$i} {
                @include gridChild(blue);
                grid-column: 1 / 3;
            }
        }
        @else if $i == 2 {
            .child-#{$i} {
                @include gridChild(yellow, "flex-end", "center")
            }
        }
        @else {
            .child-#{$i} {
                @include gridChild(red, "flex-end", "flex-end")
            }
        }
    }
}

:root {
    box-sizing: border-box;
}

html, body, .wrapper {
    @include fillPage();
}

.wrapper {
    @include centerDiv();

    #quote-box {
        height: 400px;
        width: 800px;
        background-color: cadetblue;

        #quote-info{
            #text {
                @include textStyle(3rem)
            }
        }

        #icons {
             #tweet-quote {
                display: block;
                padding: 10px;
                width: 40px;
                height: 40px;
            }
        }

        #new-quote {
            padding: 10px;
            #new-quote-button {
                @include buttonStyle();
                @include textStyle(2rem);
            }
        }
    }
}

.grid-container {
    @include gridContainer();
}

@include child-x();